<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangtan.p2p.mapper.PermissionInfoMapper">
  <resultMap id="BaseResultMap" type="com.huangtan.p2p.model.PermissionInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="sort" jdbcType="DOUBLE" property="sort" />
    <result column="available" jdbcType="INTEGER" property="available" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <collection property="permissionInfoList"
                ofType="com.huangtan.p2p.model.PermissionInfo"
                select="selectPermissionInfoByUserId"
                column="{userId=user_id,parentid = id}">
    </collection>
  </resultMap>
  <select id="selectPermissionInfoByUserId" resultMap="BaseResultMap">
    select id,name,type,url,user_id,icon from v_permission_role_user
    where user_id = #{userId} and type = 'menu' and parentid = #{parentid};
  </select>

  <select id="selectURLPermissionByUserId" resultType="String">
    select DISTINCT url from v_permission_role_user where user_id = #{userId} and url is not null
  </select>
</mapper>